---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
interface Props {
  engageCard: CollectionEntry<"engagements">;
}

const { engageCard } = Astro.props;
const { Content } = await render(engageCard);
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;

  .engage-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 100%;
    max-width: 330px;
    min-width: 200px;
    box-shadow: 0 8px 5px 5px rgb(83, 83, 83, 0.25);
    border-radius: 2px;
    padding: 20px 25px;
    margin-bottom: 30px;
    text-align: center;

    .engage-card__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      img {
        display: block;
        height: 40px;
        width: 40px;
        filter: brightness(0) saturate(100%) invert(50%) sepia(33%)
          saturate(749%) hue-rotate(47deg) brightness(98%) contrast(86%);
      }
    }

    h2 {
      font-size: 1.1rem;
      margin: 0;
      text-align: center;
    }

    &__p {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: 0;

      p {
        text-align: center;
        font-size: 0.9rem;
        min-width: 280px;
      }
    }
  }
  .button {
    font-size: 0.8rem;
    font-weight: bold;
    background: #3fc2c0;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    align-self: center;
    max-width: fit-content;
  }
  @media (max-width: 1050px) {
    .engage-card {
      height: 300px;
      width: 100%;
      max-width: 330px;
      min-width: 200px;

      p {
        min-width: 230px;
      }
    }
  }
  @media (max-width: 900px) {
    .engage-card {
      height: 330px;
      width: 100%;
      max-width: 330px;
      min-width: 200px;

      p {
        min-width: 210px;
      }
    }
  }
  .engage-card__p :global(strong) {
    font-weight: 600;
    background-color: rgba(variables.$mantis100, 0.3);
    padding: 0 3px;
    border-radius: 2px;
  }
</style>
<article class="engage-card">
  <div class="engage-card__icon">
    <Image
      src={engageCard.data.image}
      height={30}
      width={30}
      loading="eager"
      alt={engageCard.data.title}
    />
  </div>
  <h2>{engageCard.data.title}</h2>
  <div class="engage-card__p">
    <Content />
  </div>
  <a
    class="button"
    target="_blank"
    rel="noopener noreferrer"
    href={engageCard.data.buttonLink}
  >
    {engageCard.data.buttonText}
  </a>
</article>
