---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;

  .project-card {
    background-color: white;
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    pointer-events: auto;
    margin-bottom: 30px;

    a {
      text-decoration: none;
      color: black;
    }

    &:hover {
      transform: translateY(-5px);
    }

    &__img {
      display: flex;
      align-items: center;
      width: 100%;
      height: 180px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-top: 10px;
      }
    }
    .project-content {
      text-align: center;
      padding: 15px;
      text-align: left;
      h2 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 5px;
      }
      p {
        font-size: 0.9rem;
        color: #7e8c9a;
      }
    }
  }
</style>

<article class="project-card">
  <a href={`/projects/${project.id}`}>
    <div class="project-card__img">
      <Image src={project.data.image} alt={project.data.title} width={300} />
    </div>
    <div class="project-content">
      <h2>{project.data.cardTitle}</h2>
      <p>{project.data.shortDescription}</p>
    </div>
  </a>
</article>
