---
import MiniCards from "@components/cards/MiniCards.astro";
import PartnerCard from "@components/cards/PartnerCard.astro";
import ProjectCard from "@components/cards/ProjectCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import TestimonialCard from "@components/cards/TestimonialCard.astro";
import { Image } from "astro:assets";
import AmbassadorsWorkshopImg from "/src/assets/images/ambassadors_workshops_monthly_sessions.webp";
import { getEntry } from "astro:content";
import Impacts from "@components/impacts/Impacts.astro";
const baseUrl = import.meta.env.BASE_URL;
const index = await getEntry("homepage", "index");

const partners = await getCollection("partners");
const projects = await getCollection("projects");
const testimonials = await getCollection("testimonials");
const ambassadors = await getCollection("ambassadors");
const miniCards = await getCollection("miniCards");
const impacts = await getCollection("impacts");

const isoCodes = ambassadors.map((ambassador) => {
  return ambassador.data.countryIso;
});
---

<style lang="scss">
  @use "openaq-design-system/scss/variables" as variables;

  @use "openaq-design-system/scss/mixins/index.scss" as mixins;
  @use "openaq-design-system/scss/utilities/types.scss";
  @use "openaq-design-system/scss/utilities/colors.scss";
  @use "openaq-design-system/scss/inputs";

  @use "openaq-design-system/scss/buttons";

  .hero-section {
    position: relative;
    height: 650px;
    width: 100%;
    overflow: hidden;
    display: flex;

    .hero-curve {
      position: absolute;
      left: 0;
      background-color: #e2ebe1;
      height: 1000px;
      width: 1100px;
      z-index: 1;
      border-radius: 0 100% 100% 0;
      transform: translateY(-250px) translateX(-350px);
    }

    .hero-image {
      position: absolute;
      right: 0;
    }

    .hero-content {
      position: absolute;
      max-width: 450px;
      width: 90%;
      padding-top: 80px;
      background-color: #e2ebe1;
      padding-left: 40px;
      z-index: 2;

      h1 {
        font-size: 2.9rem;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
        width: 600px;
        background: linear-gradient(
          125deg,
          rgb(39, 66, 56),
          rgb(100, 162, 137)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .hero-subtitle {
        text-align: center;
        font-size: 1.2rem;
        max-width: 480px;
        width: 120%;
        margin-top: 20px;
        .hero-first-subtitle {
          display: block;
          padding-bottom: 25px;
          border-bottom: 2px solid #555;
        }
        .highlight {
          color: variables.$mantis120;
          font-size: 1.3rem;
          font-weight: bold;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .learn-more-btn {
          width: fit-content;
          margin-top: 30px;
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: 650px) {
    .hero-section {
      height: 880px;
      .hero-curve {
        height: 1400px;
      }
    }
    .hero-content {
      padding-top: 20px;
      padding-bottom: 150px;
      h1 {
        width: 500px !important;
        width: 100% !important;
        text-align: center !important;
      }
      .hero-subtitle {
        width: 100% !important;
        max-width: 600px !important;
        margin: 0 auto;
        font-size: 1.1rem;
        margin-bottom: 30px;
      }
    }
  }
  @media (max-width: 400px) {
    .hero-section {
      height: 880px;
      .hero-curve {
        height: 1200px;
      }

      .hero-content {
        h1 {
          width: 90%;
          max-width: 260px;
        }

        .hero-subtitle {
          width: 100%;
          max-width: 360px;
          margin: 0 auto;
          font-size: 1rem;
          margin-bottom: 30px;
        }
      }
    }
  }
  .partner-section {
    margin-top: 60px;
    h1 {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 40px;
    }
    .partner-logos {
      display: flex;
      flex-direction: row;
      gap: 100px;
      align-items: center;
      justify-content: center;
      @media (max-width: 1000px) {
        gap: 70px;
        padding: 10px;
      }
      @media (max-width: 600px) {
        gap: 20px;
      }
    }
  }

  .global-section {
    margin-top: 60px;
    position: relative;
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    .global-image {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;

      div {
        width: 1200px;
      }
    }
  }
  .arrow {
    position: absolute;
    bottom: -70px;
    left: 52%;
    transform: translateX(-50%);
    pointer-events: none;

    path {
      stroke: black;
      stroke-width: 2;
      fill: none;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      transition: stroke-dashoffset 1.2s ease-in-out;
    }

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .global-image:hover + .arrow,
  .global-image:hover .arrow {
    opacity: 1;

    path {
      stroke-dashoffset: 0;
    }
  }

  @media (max-width: 750px) {
    .arrow svg {
      width: 80px;
      height: auto;
    }
  }

  @media (max-width: 550px) {
    .arrow svg {
      width: 55px;
    }
  }

  .impacts-section {
    margin-top: 60px;
    .impacts-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 20px;

      .impact-card {
        flex: 0 0 250px;
        margin-bottom: 20px;
      }
    }
  }

  .cards-section {
    margin-top: 60px;
    overflow: hidden;
    padding: 80px 60px;
    h1 {
      width: 40%;
      text-align: center;
      margin: 0 auto;
      @media (max-width: 1000px) {
        width: 70%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .mini-cards {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
      @media (max-width: 750px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .projects-section {
    margin-top: 60px;
    background-color: #e2ebe1;
    padding: 40px 20px;
    h1 {
      text-align: center;
      margin: 0 auto;
      padding-top: 20px;
    }
    .project-container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 70px;
      align-items: center;
      justify-content: center;

      @media (max-width: 1100px) {
        gap: 20px;
      }
      @media (max-width: 850px) {
        display: flex;
        flex-wrap: wrap;
      }
      @media (max-width: 580px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .testimonials-section {
    padding: 80px 60px;

    h1 {
      margin-bottom: 40px;
      text-align: center;
    }

    .testimonial-cards-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      gap: 70px 20px;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  .map-image {
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
  }
</style>

<BaseLayout>
  <section class="hero-section">
    <div class="hero-curve"></div>
    <div class="hero-content">
      <h1>{index?.data.title}</h1>
      <p class="hero-subtitle">
        <span class="hero-first-subtitle">
          <span class="highlight">Air pollution</span> is a “silent killer” that
          accounts <span class="highlight"
            >for more than 8 million premature deaths</span
          > each year1 and 90% of deaths attributed to outdoor air pollution are
          in <span class="highlight"></span>low- and middle-income countries.
        </span>
        <br />
        <span>
          <span class="highlight"
            >OpenAQ's Community Ambassador Program empowers</span
          > the next generation of
          <span class="highlight">changemakers</span> to tackle this global air quality
          epidemic locally in the planet's most polluted regions through the use
          of open data.
        </span>
      </p>
      <div class="buttons">
        <a
          href={`${baseUrl}/apply/`}
          class="btn btn-primary learn-more-btn"
          role="button">Apply</a
        >
        <a
          href={`${baseUrl}/support/`}
          class="btn btn-primary learn-more-btn"
          role="button">Donate</a
        >
      </div>
    </div>
    <div class="hero-image">
      <Image
        src={AmbassadorsWorkshopImg}
        height={800}
        alt="Ambassadors Workshops"
      />
    </div>
  </section>
  <section class="cards-section">
    <div class="mini-cards">
      {miniCards.map((miniCard) => <MiniCards miniCard={miniCard} />)}
    </div>
  </section>
  <section class="projects-section">
    <h1>Featured projects</h1>
    <div class="project-container">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
  <section class="testimonials-section">
    <h1>Testimonials</h1>
    <div class="testimonial-cards-container">
      {
        testimonials.map((testimonial) => (
          <TestimonialCard testimonial={testimonial} />
        ))
      }
    </div>
  </section>

  <section class="global-section">
    <h1>The global reach of OpenAQ ambassadors</h1>
    <h2>Representing {new Set(isoCodes).size} countries</h2>
    <div class="global-image">
      <img
        class="map-image"
        src=`${baseUrl}/imgs/map/all.png`
        alt=""
        height="588"
        width="1200"
      />
    </div>
    <div class="arrow">
      <svg
        width="110"
        height="369"
        viewBox="0 0 110 369"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M109.997 2.07239C110.037 1.52156 109.623 1.04261 109.072 1.00262L100.096 0.351089C99.5452 0.311108 99.0662 0.725237 99.0262 1.27607C98.9863 1.82691 99.4004 2.30586 99.9512 2.34584L107.93 2.92498L107.351 10.904C107.311 11.4548 107.725 11.9338 108.276 11.9738C108.827 12.0137 109.306 11.5996 109.346 11.0488L109.997 2.07239ZM2.20485 368.709C41.6909 329.474 59.8981 294.058 67.0163 261.172C74.1297 228.309 70.1447 198.068 65.4241 169.276C60.6945 140.429 55.2513 113.126 59.2314 85.8396C63.2001 58.6319 76.5603 31.3712 109.654 2.75644L108.346 1.24356C74.9393 30.1288 61.2994 57.8056 57.2524 85.551C53.2169 113.217 58.7424 140.884 63.4504 169.599C68.1674 198.369 72.0887 228.285 65.0616 260.749C58.0393 293.192 40.0591 328.276 0.795149 367.291L2.20485 368.709Z"
          fill="black"></path>
      </svg>
    </div>
  </section>

  <section class="impacts-section">
    <div class="impacts-container">
      {impacts.map((impact) => <Impacts impact={impact} />)}
    </div>
  </section>

  <section class="cards-section">
    <h1>
      A 10 month program to accelerate your career and drive clean air action
    </h1>
    <div class="mini-cards">
      {miniCards.map((miniCard) => <MiniCards miniCard={miniCard} />)}
    </div>
  </section>

  <section class="partner-section">
    <h1>Partners</h1>
    <div class="partner-logos">
      {partners.map((partner) => <PartnerCard partner={partner} />)}
    </div>
  </section>
</BaseLayout>
