---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import HeroImg from "src/assets/images/alex_mobile_lab_crop.jpg";
import PollutionImg from "src/assets/images/ella-ivanescu-JbfhNrpQ_dw-unsplash.jpg";
import GlobeSvg from "src/assets/svg/globe.svg";
import HeartSvg from "src/assets/svg/heart.svg";
import CommunitySvg from "src/assets/svg/community.svg";
import InfrastructureSvg from "src/assets/svg/infrastructure.svg";
import FutureImg from "src/assets/images/josue-michel-xCU7nCMNfI8-unsplash.jpg";
---

<style lang="scss">
  @use "openaq-design-system/scss/variables" as variables;
  @use "openaq-design-system/scss/mixins/index" as mixins;

  .support-page {
    padding-bottom: 100px;
    overflow: hidden;
  }
  .hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
  }

  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .img-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.6);
  }

  .hero-overlay {
    position: relative;
    z-index: 1;
    padding: 2rem;
    border-radius: 10px;
    h1 {
      font-size: 2rem;
    }
  }

  .why-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
    }
    p {
      margin-bottom: 5px;
      line-height: 1.8;
    }
  }

  .articles-section {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    .left-article {
      background-color: #a1c0a261;
      width: 60%;
      padding: 40px 60px;
      position: relative;
      p {
        font-size: 0.8rem;
        width: 80%;
        line-height: 1.6;
        span {
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
    .right-article {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;

      .right-img-overlay {
        position: relative;
        width: 100%;
      }

      .right-img-overlay img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .right-img-overlay::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 97%;
        background: rgba(34, 34, 34, 0.6);
      }
      .article-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        z-index: 2;
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 1rem;
      }
    }
  }

  .support-section {
    text-align: center;
    padding: 4rem 1rem;

    .support-subtitle {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .support-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: no-wrap;
      max-width: 1200px;
      margin: 0 auto;
    }

    .support-card {
      padding: 1.5rem;
      width: 250px;
      text-align: center;
    }

    .support-icon {
      background: #e0f0e9;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 1rem;
      img {
        width: 50px;
      }
    }

    .support-card h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      width: 150px;
      margin: 0 auto;
    }

    .support-card p {
      font-size: 0.9rem;
      color: #444;
    }

    .highlight {
      font-weight: 600;
      background-color: rgba(variables.$mantis100, 0.3);
      padding: 0 3px;
      border-radius: 2px;
    }
  }

  .contribution-section {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
    flex-direction: column;
    align-items: center;

    .contribution-table {
      border-collapse: collapse;
      width: 90%;
      max-width: 800px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

      th,
      td {
        padding: 1rem;
        text-align: left;
        font-size: 0.95rem;
      }

      th {
        background-color: rgba(variables.$mantis100, 0.1);
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: #f8f8f8;
      }

      td:first-child {
        font-weight: bold;
        width: 120px;
        white-space: nowrap;
      }
    }

    p {
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      padding-top: 2rem;

      a {
        color: variables.$sky100;
      }
    }
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .card {
    background: #f3f3f3;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 300px;
  }

  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 2rem 0;
  }

  .button {
    font-size: 0.8rem;
    font-weight: bold;
    background: #3fc2c0;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
  }

  .future-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .img-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.6);
  }

  .future-overlay {
    position: relative;
    z-index: 1;
    padding: 2rem;
    border-radius: 10px;
    h1 {
      font-size: 2rem;
    }
  }

  .last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px 60px;
    margin: 0 auto;

    .left-article,
    .right-article {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .left-article {
      width: 40%;
      p {
        font-size: 2rem;
        font-weight: bold;
        width: 50%;
        margin: 0 auto;
      }
    }
    .vertical-line {
      background-color: variables.$sky120;
      width: 4px;
      height: 300px;
      z-index: 1000;
    }

    .right-article {
      width: 60%;
      p {
        width: 60%;
        margin: 0 auto;
        line-height: 1.6;
        span {
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .why-section {
      padding: 4rem 3rem;
    }
    .support-container {
      display: flex;
      flex-wrap: wrap;
    }

    .last-section {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      padding: 20px;

      .left-article,
      .right-article {
        width: 100%;
        text-align: center;
      }

      .left-article {
        p {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .right-article {
        width: 100% !important;
        p {
          width: 80% !important;
        }
      }

      .vertical-line {
        display: none;
      }
    }
  }
  @media (max-width: 750px) {
    .articles-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
      .left-article {
        width: 100%;
        p {
          width: 100%;
        }
      }

      .right-article {
        position: relative;
        width: 100%;
        transform: none;
        top: 0;
        .right-img-overlay {
          img {
            height: auto;
            object-fit: cover;
          }

          .article-overlay {
            font-size: 2.2rem;
            padding: 0.5rem;
          }
        }
      }
    }
  }
  @media (max-width: 450px) {
    .articles-section {
      .right-article {
        .right-img-overlay {
          .article-overlay {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
</style>

<BaseLayout>
  <div class="support-page">
    <section class="hero">
      <div class="img-overlay">
        <Image src={HeroImg} alt="hero image" loading="lazy" />
      </div>
      <div class="hero-overlay">
        <h1>TOGETHER WE CAN MAKE A DIFFERENCE</h1>
        <p>
          OpenAQ’s Community Ambassador Program empowers the next generation of
          changemakers to tackle the global air quality epidemic locally in the
          planet’s most polluted regions through the use of open data.
        </p>
        <a href="#" class="button">Become a Funder</a>
      </div>
    </section>

    <section class="articles-section">
      <article class="left-article">
        <p>
          <span>OpenAQ</span> has built the world's first and largest open-source
          air quality data platform, aggregating and harmonizing billions of data
          points from countries across the globe.
        </p><p>
          By providing universal access to air quality data, we empower a global
          community of changemakers to solve air inequality.
        </p>
        <a href="#" class="button">Become a Funder</a>
      </article>
      <article class="right-article">
        <div class="right-img-overlay">
          <Image src={PollutionImg} alt="pollution image" loading="lazy" />
          <div class="article-overlay">
            <p>
              "9 out of 10 people globally breathe polluted air every day." —
              WHO
            </p>
          </div>
        </div>
      </article>
    </section>

    <section class="support-section">
      <h2>WHAT YOUR CONTRIBUTION WILL SUPPORT</h2>
      <p class="support-subtitle">
        We invite you to support the Community Ambassador Program with a
        financial contribution. OpenAQ is a nonprofit organization and can
        provide this one-of-a-kind learning experience only through the
        generosity of foundations, corporations and individuals.
      </p>
      <div class="support-container">
        <div class="support-card">
          <div class="support-icon">
            <Image src={HeartSvg} alt="Heart Icon" />
          </div>
          <h3>Leadership Training</h3>
          <p>
            Sponsorships and donations support OpenAQ to <span class="highlight"
              >deliver the leadership training</span
            > and stipends for the ambassadors to participate.
          </p>
        </div>
        <div class="support-card">
          <div class="support-icon">
            <Image src={CommunitySvg} alt="Community Icon" />
          </div>
          <h3>A Vibrant Community of Changemakers</h3>
          <p>
            Participants from low- and middle-income nations <span
              class="highlight">learn and grow</span
            >
            together during their time in the program and as alumni.
          </p>
        </div>
        <div class="support-card">
          <div class="support-icon">
            <Image src={GlobeSvg} alt="Global Coverage Icon" />
          </div>
          <h3>Making a Global Impact</h3>
          <p>
            The program <span class="highlight"
              >increases community action, in-field research, and data coverage</span
            > in low- and middle-income countries that are most affected by air pollution.
          </p>
        </div>
      </div>
      <a href="#" class="button">Donate now</a>
    </section>
  </div>
</BaseLayout>
