<!-- ---
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { frontmatter } from "@content/people/peopleIndex/people.md";
import BaseLayout from "@layouts/BaseLayout.astro";
import AmbassadorsCard from "@components/people/AmbassadorsCard.astro";

const allAmbassadors = await getCollection("ambassadors");

type CollectionName = "ambassadors";

const socials = (entry: CollectionEntry<CollectionName>) => {
  return {
    email: entry.data.email,
    x: entry.data.x,
    mastadon: entry.data.mastadon,
    linkedin: entry.data.linkedin,
    github: entry.data.github,
    orcid: entry.data.orcid,
    researchGate: entry.data.researchGate,
    googleScholar: entry.data.googleScholar,
    bluesky: entry.data.bluesky,
  };
};

const sortByName = (
  a: CollectionEntry<CollectionName>,
  b: CollectionEntry<CollectionName>
) => a.data.name.localeCompare(b.data.name);
---

<style lang="scss">
  .person-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 22px;
    row-gap: 22px;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
      width: 530px;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      width: 250px;
    }
  }
</style>

<BaseLayout>
  <h1 class="gradient-title">Team</h1>
  <section class="person-grid">
    {
      allAmbassadors
        .sort(sortByName)
        .map((ambassador) => (
          <AmbassadorsCard
            name={ambassador.data.name}
            country={ambassador.data.country_iso}
            url={`/${ambassador.id}/`}
            data={ambassador.body}
            socials={socials(ambassador)}
            portrait={ambassador.data.image}
          />
        ))
    }
  </section>
</BaseLayout> -->
